/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 1.625 rem;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 1.75rem;
    position: relative;
}

.about .content ul li+li {
    margin-top: 0.625rem;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 0.125rem;
    font-size: 1.25rem;
    color: #47b2e4;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}