
  /* === Wrapper Styles === */
  #FileUpload {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    margin: 30px;
    padding: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px;
    background-color: white;
    width: 415px;
  }
  
  /* === Upload Box === */
  .upload {
    margin: 10px;
    height: 85px;
    border: 8px dashed #37517e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .upload p {
    margin-top: 12px;
    line-height: 0;
    font-size: 22px;
    color: #0c3214;
    letter-spacing: 1.5px;
  }
  .upload__button {
    background-color: #37517e;
    color: white;
    border-radius: 10px;
    padding: 0px 8px 0px 10px;
  }
  .upload__button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  /* === Uploaded Files === */
  .uploaded {
    width: 375px;
    margin: 10px;
    background-color: #37517e;
    color:whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .file {
    display: flex;
    flex-direction: column;
  }
  .file__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 300px;
    line-height: 0;
    color: #283a5ae6;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  .fa-times:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .fa-file-pdf {
    padding: 15px;
    font-size: 40px;
    color: #283a5ae6;
  }