
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 0.875 rem;
    background: #37517e;
    }
    
    #footer .footer-top {
    padding: 60px 0 30px 0;
    background:rgba(40, 58, 90);
    }
    
    #footer .footer-top .footer-contact {
    margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-contact h3 {
    font-size: 1.75rem;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
    }
    
    #footer .footer-top .footer-contact p {
    font-size: 0.875 rem;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
    }
    
    #footer .footer-top h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
    }
        
    #footer .footer-top .footer-links {
    margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 1.125rem;
    line-height: 1;
    }
    
    #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    }
    
    #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
    }
    
    #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    }
    
    #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
    }
        
    #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    }
    
    #footer .copyright {
    float: left;
    }
    
    @media (max-width: 768px) {
      #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      #footer .copyright, #footer .credits {
        text-align: center;
        float: none;
      }
      #footer .credits {
        padding-top: 4px;
      }
    }