/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: $background-color;
    }
    
    #header.header-scrolled, #header.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
    }
    
    #header .logo {
    font-size: 1.875rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    }
    
    #header .logo a {
    color: #fff;
    }
    
    #header .logo img {
    max-height: 40px;
    }